body {
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.heading {
  font-weight: 100;
  font-size: 3em;
}

.gallery {
  max-width: 1440px;
  padding: 0 30px;

  margin-top: 50px;
  margin-bottom: 50px;
}

.gallery__item {
  &:hover {
    cursor: zoom-in;
  }
}

.popup__window .image {
}

.popup__window {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.popup_visible {
  display: block;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 150px;
  background-color: black;
  color: lightgray;
  font-size: 0.875em;
  text-align: center;
  vertical-align: middle;
}
